/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 12:39:47 PM
    Author     : penguin
*/

body{
    background-color: #E8E8E8
}
.red{
    background-color: #c9302c;
    color: #fff;
}
.green{
    background-color: #5cb85c;
    color: #fff;
}

.over{
    color:#fff;
    background:red;
}
.under{
    color:#fff;
    background:green;
}
table{
    width: 100%;
}


.blue {
    animation-duration: 2s;
    animation-name: blue;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
/*    width:50px;
    height:50px;*/
    //border:1px solid #1c94c4;
}
@keyframes blue {
    50% {
        visibility: hidden;
        background-color:#1c94c4;
    }
}
/*.blue{
    background-color: #1c94c4;
}*/
.top-margin{
    margin-top: 5px;
}
.top-big-margin{
    margin-top: 15px;
}
.top-border{
    border-top:  1px solid #000;
}
.bold{
    font-weight: bold;
}
.card-no{
    cursor: pointer;
}
/*.navbar-default{
    background-color: #f6a828;
    border-color:#f6a828;
}
.dropdown-menu {
    background-color: #f6a828;
    border-color:#f6a828;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #fff;
    background-color: #e78f08;
}*/
/*.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #e78f08;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #e78f08;
}*/
/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #e78f08;
}*/

/*.panel-default > .panel-heading {
    background-color: #f6a828;
    border-color: #f6a828;
}*/
/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
background-color: #fff;
border-color: #f6a828 #f6a828 transparent;
color: #b47305;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #F6A828;
}
.nav-tabs {
    border-bottom: 1px solid #f6a828;
}*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
background-color: #fff;
border-color: #337ab7 #337ab7 transparent;
color: #000;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #337ab7;
}
.nav-tabs {
    border-bottom: 1px solid #337ab7;
}

.tab-content > .active {
    display: block;
    padding-top: 20px;
}

.bottom-margin{
    margin-bottom: 5px;
}
.left-margin{
    margin-left: 25%;
}
div .singin {
    margin-top: 15%;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox, .form-signin input {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin input[type="email"] {
    //margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

